<ion-view view-title="{{game.play.INFO.storyTitle || 'iFiction'}}">
  <ion-content class="padding" has-footer="true" has-header="true" delegate-handle="gameplay-page">
    <div class="settings-icon">
      <a class="button button-icon ion-gear-b" ng-click="game.showSettings()"></a>
    </div>
    <div>
      {{game.play.PLOG}}
      <!-- <button class="button button-dark button-block" ng-click="game.startPlay()">Start</button> -->
    </div>
    <div>
      <h3>{{game.play.LOCN}}</h3>
      <div ng-repeat="text in game.texts">
        <!-- <p ng-if="text.author === 'player'" class="pull-right">{{text.msg}}</p> -->
        <p ng-if="text.author === 'game'" class="pull-left">{{text.msg}}</p>
      </div>
    </div>
    <div>{{game.play.TURN}}</div>
    <div class="top text-center">
      <button class="button button-icon ion-ios-game-controller-a" ng-click="game.showControlBoard();"></button>
    </div>
    <!-- <digi-clock time="game.play.TIME"></digi-clock> -->
  </ion-content>
  <ion-footer-bar class="bar-dark" >
    <control-board ng-show="game.controlBoardVisible" gameplay="game.controls" cancel="game.cancelControl" select="game.selectControl" style="width: inherit;"></control-board>
  </ion-footer-bar>
</ion-view>
