<ion-view view-title="{{game.play.INFO.storyTitle || 'iFiction'}}">
  <ion-content class="has-footer padding" delegate-handle="gameplay-page">
    <!-- <form ng-submit="app.send()" novalidate>
      <input ng-model="app.input" />
      <input type="button" ng-click="app.save()" value="save" ng-disabled="app.readkey">
      <input type="button" ng-click="app.load()" value="load" ng-disabled="app.readkey || !app.saves.length || !app.selectedSave">
      <select ng-model="app.selectedSave" ng-disabled="app.readkey || !app.saves.length">
        <option ng-repeat="save in app.saves" ng-cloak>{{save}}</option>
      </select>
    </form>-->
    <div class="settings-icon">
      <a class="button button-icon ion-gear-b"></a>
    </div>
    <div>
      {{game.play.PLOG}}
      <!-- <button class="button button-dark button-block" ng-click="game.startPlay()">Start</button> -->
    </div>
    <div>
      <h3>{{game.play.LOCN}}</h3>
      <div ng-repeat="text in game.texts">
        <!-- <p ng-if="text.author === 'player'" class="pull-right">{{text.msg}}</p> -->
        <p ng-if="text.author === 'game'" class="pull-left">{{text.msg}}</p>
      </div>
    </div>
    <div>{{game.play.TURN}}</div>
    <a class="button button-icon ion-code-download" ng-click="game.loadSavedGame()"></a>
  </ion-content>

  <ion-footer-bar keyboard-attach class="bar-dark item-input-inset" >
    <label class="item-input-wrapper">
        <input type="text" placeholder="Enter command here" ng-model="game.input" ng-enter="game.send()"/>
    </label>
    <button class="button button-icon ion-android-send" ng-click="game.send()"></button>
  </ion-footer-bar>
</ion-view>
